<!DOCTYPE html>
<html>
<head>
    <title> Index </title>
    <meta charset = "UTF-8">
    {% load static %}
    <script src="{% static 'app/js/pixi.min.js' %}"></script>
</head>
<body id = "Text">
    <script>
        const app = new PIXI.Application({ antialias: true });
        document.body.appendChild(app.view);

        const graphics = new PIXI.Graphics();

        graphics.beginFill(0xDE3249);
        graphics.drawRect(50, 50, 100, 100);
        graphics.endFill();

        app.stage.addChild(graphics);

        function click() {
            var xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function() {
                if(this.readyState == XMLHttpRequest.DONE && this.status == 200) {
                    document.getElementById("Text").innerText += xhttp.responseText;
                }
            }

            xhttp.open("GET", "click");
            xhttp.send();
        };

        document.addEventListener("mousedown", click);
    </script>
</body>
</html>